* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#app {
    height: 100vh;
    overflow: hidden;
}

.background {
    background: linear-gradient(to bottom, #4D9288 0px, #4D9288 15vh, #DBDBD4 15vh, #DBDBD4 100%)
}

/* LAYOUT */


.app_content {
    height: 100%;
    display: flex;
}

.sidebar {
    display: none;
    width: 82px;
    flex-shrink: 0;
    background-color: white;
}

.chat-wrapper {
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.pd {
    padding: 10px 10px;
}

.menu {
    display: none;
}

.image--circle {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	object-fit: cover;
}

/* SIDEBAR */

.chat-list {
    flex-grow: 1;
}

.chat-list .card:not(:last-child) {
    border-bottom: 1px solid gray;
}

.user {
    background-color: #EAEAEA;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
}

.info {
    background-color: #EAEAEA;
    justify-content: space-between;
}

.content__header {
    width: 50px;

}

.notify {
    display: none;
    align-items: center;
    background-color: #A6D7F9;
}

.chat-preview {
    color: gray;
    width: 200px;
}

.menu-item {
    padding: 0px 10px;
}

/* CARD USER */

.card {
    justify-content: space-between;
    align-items: center;
}

.info-user {
    display: none;
    padding: 0px 10px;
}

.name-user  {
    padding-bottom: 10px;
}

.orario {
    display: none;
}

/* CHAT */

.chat-wrapper .card {
    border: 0;
    background-color: #EAEAEA;
}

.chat {
    padding: 50px 40px;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}

.message {
    position: relative;
    margin: 5px 0px;
    padding: 10px 15px;
    padding-bottom: 50px;
    max-width: 200px;
    border-radius: 10px;
}

.chat .orario {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
}

.mytext {
    align-self: flex-end;
    background-color: #DEF8C0;
}

.himtext {
    align-self: flex-start;
    background-color: white;
}

/* WRITE-TEXT */

.messagewrite {
    width: 100%;
    align-items: center;
    padding: 15px 15px;
    background-color: #F2EEEB;
}

.messagewrite i {
    padding: 10px;
    display: none;
}

.writespace {
    flex-grow: 1;
    outline: none;
}

.writespace input {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}

/* MEDIUM DEVICE */
@media (min-width: 768px) {

    .sidebar {
        display: flex;
        flex-direction: column;
    }
    
    .chat-wrapper .menu {
        display: flex;
    }

    .message {
        max-width: 400px;
    }

    .messagewrite i {
        display: block;
    }


}

/* LARGE DEVICE  */
@media (min-width: 992px) {


    #app {
        padding: 36px 36px;
    }

    .app__content {
        width: 80%;
        margin: 0 auto;
    }

    .sidebar {
        width: 370px;
    }

    .menu {
        display: flex;
    }

    .info-user, .orario {
        display: block;
    }

    .notify {
        display: flex;
    }

    .message {
        max-width: 490px;
    }
}
